--
-- PostgreSQL database dump
--

-- Dumped from database version 14.5 (Ubuntu 14.5-2.pgdg20.04+2)
-- Dumped by pg_dump version 14.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: heroku_ext; Type: SCHEMA; Schema: -; Owner: u9ufgt5dhb69vp
--

CREATE SCHEMA heroku_ext;


ALTER SCHEMA heroku_ext OWNER TO u9ufgt5dhb69vp;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: historical_prices; Type: TABLE; Schema: public; Owner: twdikzwuzszyyc
--

CREATE TABLE public.historical_prices (
    symbol text NOT NULL,
    onemonth text NOT NULL,
    oneyear text NOT NULL,
    epoch bigint NOT NULL
);


ALTER TABLE public.historical_prices OWNER TO twdikzwuzszyyc;

--
-- Name: portfolio; Type: TABLE; Schema: public; Owner: twdikzwuzszyyc
--

CREATE TABLE public.portfolio (
    uid integer,
    tid integer,
    symbol text NOT NULL,
    quantity smallint NOT NULL,
    buyp numeric(10,4),
    value numeric(16,4),
    etime bigint
);


ALTER TABLE public.portfolio OWNER TO twdikzwuzszyyc;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: twdikzwuzszyyc
--

CREATE TABLE public.transactions (
    tid integer NOT NULL,
    uid integer,
    type character(2),
    symbol text,
    buyp numeric(10,4),
    sellp numeric(10,4),
    buyq smallint,
    sellq smallint,
    bill numeric(16,4),
    etime bigint
);


ALTER TABLE public.transactions OWNER TO twdikzwuzszyyc;

--
-- Name: transactions_tid_seq; Type: SEQUENCE; Schema: public; Owner: twdikzwuzszyyc
--

CREATE SEQUENCE public.transactions_tid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transactions_tid_seq OWNER TO twdikzwuzszyyc;

--
-- Name: transactions_tid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: twdikzwuzszyyc
--

ALTER SEQUENCE public.transactions_tid_seq OWNED BY public.transactions.tid;


--
-- Name: users; Type: TABLE; Schema: public; Owner: twdikzwuzszyyc
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    email text NOT NULL,
    hash text NOT NULL,
    balance numeric(16,4) DEFAULT 10000
);


ALTER TABLE public.users OWNER TO twdikzwuzszyyc;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: twdikzwuzszyyc
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO twdikzwuzszyyc;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: twdikzwuzszyyc
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: watchlist; Type: TABLE; Schema: public; Owner: twdikzwuzszyyc
--

CREATE TABLE public.watchlist (
    id integer,
    symbol text NOT NULL
);


ALTER TABLE public.watchlist OWNER TO twdikzwuzszyyc;

--
-- Name: transactions tid; Type: DEFAULT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.transactions ALTER COLUMN tid SET DEFAULT nextval('public.transactions_tid_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: historical_prices; Type: TABLE DATA; Schema: public; Owner: twdikzwuzszyyc
--



--
-- Data for Name: portfolio; Type: TABLE DATA; Schema: public; Owner: twdikzwuzszyyc
--

COPY public.portfolio (uid, tid, symbol, quantity, buyp, value, etime) FROM stdin;
1	26	AMD	10	84.3700	843.7000	1662990115
1	32	TTM	10	24.2800	242.8000	1664206297
15	33	FFIE	10	0.8734	8.7340	1664211565
1	35	ADTX	15	3.2900	49.3500	1664211774
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: twdikzwuzszyyc
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: twdikzwuzszyyc
--



--
-- Data for Name: watchlist; Type: TABLE DATA; Schema: public; Owner: twdikzwuzszyyc
--

COPY public.watchlist (id, symbol) FROM stdin;
6	NVDA
1	NFLX
1	AAPL
1	AMZN
1	TTM
\.


--
-- Name: transactions_tid_seq; Type: SEQUENCE SET; Schema: public; Owner: twdikzwuzszyyc
--

SELECT pg_catalog.setval('public.transactions_tid_seq', 41, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: twdikzwuzszyyc
--

SELECT pg_catalog.setval('public.users_id_seq', 21, true);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (tid);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: portfolio portfolio_tid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.portfolio
    ADD CONSTRAINT portfolio_tid_fkey FOREIGN KEY (tid) REFERENCES public.transactions(tid);


--
-- Name: portfolio portfolio_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.portfolio
    ADD CONSTRAINT portfolio_uid_fkey FOREIGN KEY (uid) REFERENCES public.users(id);


--
-- Name: transactions transactions_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_uid_fkey FOREIGN KEY (uid) REFERENCES public.users(id);


--
-- Name: watchlist watchlist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: twdikzwuzszyyc
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_id_fkey FOREIGN KEY (id) REFERENCES public.users(id);


--
-- Name: SCHEMA heroku_ext; Type: ACL; Schema: -; Owner: u9ufgt5dhb69vp
--

GRANT USAGE ON SCHEMA heroku_ext TO twdikzwuzszyyc;


--
-- Name: LANGUAGE plpgsql; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON LANGUAGE plpgsql TO twdikzwuzszyyc;


--
-- PostgreSQL database dump complete
--

